@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
    --main-color: #ff5353;
    
    --color-1: #e91e63;
   --color-2: #f5ae10;
   --color-3: #09d69c;
    --bg-dark: #2b2c2f;
   --main-to-dark-color: var(--main-color);
   --dark-to-main-color: var(--bg-dark);
    --shadow-black-100: 0 5px 15px rgba(0,0,0,0.1);
    --shadow-black-300: 0 5px 15px rgba(0,0,0,0.3);
    --black-900: #000000;
    --black-400: #555555;
   
    --black-100: #f7f7f7;
    --black-000: #ffffff;
   --black-alpha-100: rgb(0,0,0,0,.05);
   
}

body{
    font-family: 'Poppins', sans-serif;
    font-size:16px;
    font-weight:400;
    overflow-x: hidden;
    background-color: #ffffff;
    line-height: 1.5;
}
*{
margin:0;
padding:0;
 outline: none! important;
}
img{
max-width: 100%;
 vertical-align: middle;
}
ul{

 list-style: none;
}
.btn-1{
    background-color: #ffffff;
     padding: 12px 30px;
border:none;
border-radius: 30px;
 color: var(--main-color);
font-size: 16px;
 text-transform: capitalize;
 transition: all 0.5s ease;
 box-shadow: var(--shadow-black-300);
 font-weight: 500;
}
.btn-1:focus{
    box-shadow: var(--shadow-black-300);
}
.btn-1:hover{
    color: #ffffff;
    background-color: var(--main-color);
}
@keyframes spin_01 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}
@keyframes bounceTop_01{
    0%,100%{
        transform: translateY(-30px);
    }
    50%{
        transform: translateY(0px);
    }
}
.effect-wrap .effect{
    position: absolute;
    z-index: -1;
}
.effect-wrap .effect-1{
    Left:20%;
    top:20%;
    font-size: 20px;
    color: var(--color-2);
    animation: spin_01 5s linear infinite;
 } 
.effect-wrap .effect-2{
    right:5%;
    top:10%;
    font-size: 25px;
    color: rgba(255,255,255,0.5);
    animation: spin_01 7s linear infinite;
}
.effect-wrap .effect-3{
    left:5%;
    bottom:30%;
    font-size: 25px;
    color: var(--color-3);
    animation: bounceTop_01 3s linear infinite;
}
.section-padding{
    padding: 80px 0;

}
.section-title h2{
    font-size:40px;
    color: var(--black-900);
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
}
.section-title h2 span{
    color: var(--main-color);
}
.owl-carousel .owl-dots{
    padding: 0 15px;
    text-align: center;
    margin-top: 20px;
}
.owl-carousel button.owl-dot{
    height: 5px;
    width: 24px;
    background-color: #dddddd;
    display: inline-block;
    margin:0 4px;
    border-radius: 5px;
}
.owl-carousel button.owl-dot.active{
    background-color: var(--main-color);
}
.navbar{
    background-color: var(--main-color);
    padding:20px 0;
    transition: all 0.5s ease;
}
.navbar .navbar-shrink{
   box-shadow: 0 10px 10px rgba(0,0,0,0.1);
   background-color: var(--main-color);
   padding: 10px 0;
}
.navbar > .container{
     padding: 0 15px;
 }
 .navbar .navbar-brand{
     font-size: 30px;
     color: #ffffff;
     font-weight: 500;
     text-transform: capitalize;
 }
 .navbar .nav-item{
margin-left:40px;

 }
 
 .navbar .nav-item .nav-link{
     color: #ffffff;
     text-transform: capitalize;
     font-size: 16px;
     font-weight: 400;
     padding:5px 0;
     position:relative;
}
.navbar .nav-item .nav-link::before{
    content: '';
    position: absolute;
     Left:0;
    bottom:0;
    right:0;
    height: 1px;
    background-color: #ffffff;
    transition: all 0.5s ease;
    transform: scale(0);
}
.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover::before{
    transform: scale(1);
}


.home{
   min-height: 100vh;
 
   padding: 150px 0;
   background-color:var(--main-to-dark-color);
   border-radius: 0 0 200px;
   position: relative;
   z-index: 1;
   overflow-x: hidden;
}

.home-text h1{
    font-size: 45px;
    font-weight: 700;
    color: #ffffff;
    margin: 0 0 20px;
}
.home-text p{
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    margin:0;
    font-weight: 300;
}
.home .home-btn{
    margin-top: 40px;
} 
.home-img img{
   max-width: 250px;
    width: 100%;
    box-shadow: var(--shadow-black-100);
    border-radius: 32px;
    animation: bounceTop_01 3s ease infinite;
}
.home-img{
    position: relative;

}
.home-img .circle{
    position: absolute;
    z-index: 1;
    height: 400px;
    width: 400px;
    border:1px solid rgba(255,255,255,0.2);
    border-radius: 50%;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.home-img .circle::before{
    content: '';
    position: absolute;
    height: 60px;
    width: 60px;
    background-color: rgba(255,255,255,0.4);
    border-radius: 50%;
    Left:30px;
    top:30px;
     
    transform-origin: 170px 170px;
    animation: spin_01 10s linear infinite;
}
.features .feature-item{
    box-shadow: var(--shadow-black-100);
    margin:15px;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.features .feature-item::before,
.features .feature-item::after{
    content:'';
    position:absolute;
    z-index:-1;
    border-radius: 50%;
    transition: all 0.5s ease;
    opacity:0;
}
.features .feature-item::before{
    height:20px;
    width: 20px;
    background-color: var(--color-1);
    left:-20px;
    top:40%;
}
.features .feature-item:hover::before{
    left:10px;
    opacity:1;
}
.features .feature-item::after{
    height:30px;
    width: 30px;
    background-color: var(--color-2);
    right:-30px;
    top:80%;
}
.features .feature-item:hover::after{
    opacity:1;
    right:-15px;
}

.features .feature-item .icon{
    height: 60px;
    width: 60px;
    margin:0 auto 30px;
    text-align: center;
    
    font-size: 30px;
    color: var(--main-color);
    position: relative;
    z-index: 1;
    transition: all 0.5s ease;

}
.features .feature-item .icon::before{
    content:'' ;
    position: absolute;
    Left: 100%;
    top:0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    transition: all 0.5s ease;
    z-index: -1;
    opacity:0;
}
.features .feature-item:hover .icon{
    color:#ffffff;
    font-size: 20px;
}
.features .feature-item:hover .icon::before{
    left:0;
    border-radius: 50%;
    opacity:1;
}

.features .feature-item .icon i{
    line-height: 60px;
    
}
.features .feature-item h3{
    font-size: 22px;
    margin:0 0 20px;
 
    color: var(--black-900);
    font-weight: 500;
    text-transform: capitalize;
}
.features .feature-item p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    color: var(--black-400);
    margin:0 0 15px;
}
.screenshot-item{
    margin:15px;
}
.screenshot-item img{
    width: 100%;
    max-width: 250px;
    display: block;
    margin:auto;
}
.team{
    background-color: var(--black-100);
}
.team-item{
    margin:15px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: var(--shadow-black-100);

}
.team-1tem h3{
   font-size: 18px;
    color: var(--black-900);
   font-weight: 500;
   margin:15px 0 8px;
   text-transform: capitalize;
}
.team-item span{
    display: block;
   font-size: 16px;
   font-weight: 300;
    color: var(--black-400);
   text-transform: capitalize;
}

.footer{
    background-color: var(--main-color);
    padding:50px 0 0;
    position: absolute;
    left:-0px;
    right:10px;
    width: 100vw;
    height:auto;
    margin-top: 79px;
}

    



 
    
   
    
    
  
    
.footer-col ul{
    margin: 0;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;

}
.footer-col ul li a{
    font-size:16px;
    color: rgba(255,255,255,0.9);
    font-weight: 300;
    display:flex;
    text-transform: capitalize;
    transition: all 0.5s ease;
    text-decoration: none;

}
.footer-col ul li a:hover{
    padding-left: 5px;

}
.footer .copyright-text{
    margin-top:50px;
    padding:20px 0;
    text-align: center;
    font-size: 16px;
    color : rgba(255,255,255,0.9);
    font-weight: 300;
    margin:0;
    border-top: 1px solid rgba(255,255,255,0.2);

}

@media(max-width: 991px){
    .navbar-toggler{
        background-color: var(--dark-to-main-color);
        box-shadow: var(--shadow-black-300);
        height: 34px;
        width: 44px;
        padding: auto;
        font-size: 20px;
        color:#ffffff;
        
    }
    .navbar-nav{
        background-color: var(--dark-to-main-color);
        box-shadow: var(--shadow-black-300);
    }
    .navbar .nav-item{
        margin:0;
        padding:5px 15px;

    }
    .navbar.navbar-shrink .navbar-toggler,
    .navbar.navbar-shrink .navbar-nav{
         background-color: var(--main-color);

    }
    .home-img .circle{
        height: 320px;
        width: 320px;
    }
    .home-img .circle::before{
        left:18px;
        top:18px;
        transform-origin: 142px 142px;
    }
    .home-text h1{
        font-size: 40px;
    }
    .footer-col{
        margin-bottom: 30px;
    }
    
@media(max-width: 767px){
    .home-text{
        margin-bottom: 80px;
    }
    .footer-col{
        margin-bottom: 30px;
    }
    .section-title h2{
        font-size: 35px;
    }
} 
@media(max-width: 575px){
    .home-text h1{
        font-size: 30px;
    }
    .home-text p{
        font-size: 16px;
    }
    .section-title h2{
        font-size: 30px;
    }

}
}
.containor {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    background-color: #fafafa;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form {
    width: 100%;
    max-width: 820px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .contact-form {
    background-color:var(--main-color);
    position: relative;
  }
  
  .circul {
    border-radius: 50%;
    background: linear-gradient(135deg, transparent 20%, #f5f5f5);
    position: absolute;
  }
  
  .circul.one {
    width: 130px;
    height: 130px;
    top: 130px;
    right: -40px;
  }
  
  .circul.two {
    width: 80px;
    height: 80px;
    top: 10px;
    right: 30px;
  }
  
  .contact-form:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background: linear-gradient(to bottom, #f5f5f5, var(--main-color));;
    /* background-color: var(--main-color); */
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
  }
  
  form {
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
  }
  
  .title {
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
  }
  
  .input-container {
    position: relative;
    margin: 1rem 0;
  }
  
  .input {
    width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #fff;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
  }
  
  textarea.input {
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
  }
  
  .input-container label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: #fafafa;
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
  }
  
  .input-container.textarea label {
    top: 1rem;
    transform: translateY(0);
  }
  
  .btn {
    padding: 0.6rem 1.3rem;
    background-color: #fff;
    border: 2px solid #fafafa;
    font-size: 0.95rem;
    color: var(--main-color);
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
  }
  
  .btn:hover {
    background-color: transparent;
    color: #fff;
  }
  
  .input-container span {
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
  }
  
  .input-container span:before,
  .input-container span:after {
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    background-color: var(--main-color);
    top: 50%;
    transform: translateY(-50%);
  }
  
  .input-container span:before {
    left: 50%;
  }
  
  .input-container span:after {
    right: 50%;
  }
  
  .input-container.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.8rem;
  }
  
  .input-container.focus span:before,
  .input-container.focus span:after {
    width: 50%;
    opacity: 1;
  }
  
  .contact-info {
    padding: 2.3rem 2.2rem;
    position: relative;
  }
  
  .contact-info .title {
    color: var(--main-color);
  }
  
  .text {
    color: #333;
    margin: 1.5rem 0 2rem 0;
  }
  
  .information {
    display: flex;
    color: #555;
    margin: 0.7rem 0;
    align-items: center;
    font-size: 0.95rem;
  }
  
  .icon {
    width: 28px;
    margin-right: 0.7rem;
  }
  
  .social-media {
    padding: 2rem 0 0 0;
  }
  
  .social-media p {
    color: #333;
  }
  
  .social-icons {
    display: flex;
    margin-top: 0.5rem;
  }
  
  .social-icons a {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: linear-gradient(45deg, #f5f5f5, var(--main-color));
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 0.5rem;
    transition: 0.3s;
  }
  
  .social-icons a:hover {
    transform: scale(1.05);
  }
  
  .contact-info:before {
    content: "";
    position: absolute;
    width: 110px;
    height: 100px;
    border: 22px solid var(--main-color);
    border-radius: 50%;
    bottom: -77px;
    right: 50px;
    opacity: 0.3;
  }
  
  .big-circul {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #f5f5f5, var(--main-color));
    bottom: 50%;
    right: 50%;
    transform: translate(-40%, 38%);
  }
  
  .big-circul:after {
    content: "";
    position: absolute;
    width: 360px;
    height: 360px;
    background-color: #fafafa;
    border-radius: 50%;
    top: calc(50% - 180px);
    left: calc(50% - 180px);
  }
  
  .square {
    position: absolute;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(181%, 11%);
    opacity: 0.2;
  }
  
  @media (max-width: 850px) {
    .form {
      grid-template-columns: 1fr;
    }
  
    .contact-info:before {
      bottom: initial;
      top: -75px;
      right: 65px;
      transform: scale(0.95);
    }
  
    .contact-form:before {
      top: -13px;
      left: initial;
      right: 70px;
    }
  
    .square {
      transform: translate(140%, 43%);
      height: 350px;
    }
  
    .big-circul {
      bottom: 75%;
      transform: scale(0.9) translate(-40%, 30%);
      right: 50%;
    }
  
    .text {
      margin: 1rem 0 1.5rem 0;
    }
  
    .social-media {
      padding: 1.5rem 0 0 0;
    }
  }
  
  @media (max-width: 480px) {
    .container {
      padding: 1.5rem;
    }
  
    .contact-info:before {
      display: none;
    }
  
    .square,
    .big-circul {
      display: none;
    }
  
    form,
    .contact-info {
      padding: 1.7rem 1.6rem;
    }
  
    .text,
    .information,
    .social-media p {
      font-size: 0.8rem;
    }
  
    .title {
      font-size: 1.15rem;
    }
  
    .social-icons a {
      width: 30px;
      height: 30px;
      line-height: 30px;
    }
  
    .icon {
      width: 23px;
    }
  
    .input {
      padding: 0.45rem 1.2rem;
    }
  
    .btn {
      padding: 0.45rem 1.2rem;
    }
  }
.information .icon{
    color: var(--main-color);
    
}
